body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

.navbar-toggler {
  background-color: #ffc107;   /* Yellow background */
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.navbar-toggler:hover {
  background-color: #ffca2c;
  transform: scale(1.05);
}

.navbar-toggler-icon {
  filter: invert(1);
}
.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #ffc107 !important;
}
.footer-link {
  transition: 0.3s;
}

.footer-link:hover {
  color: #ffc107 !important;
  padding-left: 5px;
}
/* dark mood scc */

.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.dark-mode .navbar,
.dark-mode footer,
.dark-mode header {
    background-color: #1e1e1e !important;
}

.dark-mode .show-card {
    background-color: #2a2a2a;
    color: #ffffff;
}

.dark-mode .book-btn {
    background-color: #bb86fc;
}

.dark-mode .book-btn:hover {
    background-color: #9a67ea;
}

